body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
   margin-bottom: 0%;
   
    
}

.navbar i{
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.logo{
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
    margin-bottom: 0%;
    border-radius: 120px;
}
.logo:hover{
    opacity: 0.8;
    background-color: black;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
list-style: none;
display: inline-block;
margin-right: 30px;
margin-bottom: 0%;
color: #000000;

}

nav ul li a{
    background-color: rgba(255, 255, 255, 0);
    padding: 0%;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 0%;
    font-weight: 500;
    
    
    
}

nav ul li a:hover{
    color: white;
    background-color: rgb(61, 112, 224);
    border-radius: 10px;
    
    
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.column_1{
    flex-basis: 35%;
    position: relative;
    margin-left: 30px;
   
}

.column_1 h2{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.column_1 h3{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 17px;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    color: #000000;
    background:linear-gradient( rgb(212, 226, 17), rgb(255, 251, 21));
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: width 0.5s;
    
}
.buttons{
    width: 140px;
    transition: width 0.5s;
}
.buttons i{
    display: none;
}

.buttons:hover i{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.5s;
}

.column_1::after{
    content:"";
    width: 10px;
    height: 100%;
    background:linear-gradient( rgb(221, 224, 61), rgb(201, 219, 37));
    position: absolute;
    left: -40px;
    top: 8px;
   

}

.ImageSection{
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.MangaSection img{
    width: 45%;
    background-color: rgba(0, 0, 0, 0, 1);
    transition: ease-in-out 0.3s;
    
}


.mangaTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.MangaSection{
    position: relative;
    flex-basis: 40%;
   
}
.manga1:hover{
    object-fit: cover;
    background-position: center;
    transform: scale(1.1);
    border-radius: 20px;
    backdrop-filter:blur(10px);
   
  
}
.manga1::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        filter: blur(10px);
        opacity: 0.7; /* Adjust the opacity as needed */
        z-index: -1;
      
}

@media only screen and (max-width: 700px) {
    nav ul{
        
       display: none;
        
    
    }
    nav ul li{
      
       margin-top: 10px;
       margin-bottom: 10px;
      
      

    }
    nav ul li a{
        color: #020202;
        font-size: 28px;
        left: 30px;
        background-color: rgba(212, 200, 24, 0.979);
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 15px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;        font-weight: bold;       

    }
 
    .navbar i{
        display: block;
        font-size: 30px;
        position: relative;
        top: 15px;
        z-index: 3;
    }

    .column_1::after{
        content:"";
        width: 10px;
        height: 60%;
        background:linear-gradient( rgb(221, 224, 61), rgb(201, 219, 37));
        position: absolute;
        left: -40px;
        top: 0px;
       
    
    }
    .row{
        flex-direction: column;
        margin: 50px 0;
    }

    #menulist{
        height: 60%;
        width: 100%;
        position: absolute;
        list-style: none;
        top: 140px;
        left: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        z-index: 2;
        justify-content: space-evenly;
       opacity: 0;

    }

    .blackimage{
        display: none;
        position: absolute;
        width: 100%;
        height: 200%;
        top: 0;
        bottom: 0;
        opacity: 0.5;
    }
    
 .mabgs{
    position: relative;
    top: 15px;
    color: rgba(255, 238, 0, 0.979);
    text-decoration: #000000;

 }

 .mabgs{ animation: leWaterWave .2s linear infinite }
 @keyframes leWaterWave {
     50% { transform: skewY(1deg) skewX(-1deg) scale(1.06) }
 }

 .ekis i{
    font-size: 2em;
    z-index: 99;
    position: absolute;
    left: 40px;
   
 }
.ekis{
    opacity: 0;
    z-index: 99;

}
}
